@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Mined</h1>
    <p>
        <img src="~/images/BackGround/homebackground2.webp" alt="Oops, there should be a background image here..." />
    </p>
  
</div>
