@page
@model Mined.Pages.Player.Game.GameOverModel
@using Mined.Utility

<div class="container-xl px-4 mt-4">
    <form method="post">
        <br>
            <div class="card mb-4">
            <div class="card-header">Unfortunately your score was not high enough to make the Highscore.</div>
                 <div class="card-body">
                      <div class="row gx-12 mb-12">
					<p>
						<img src="~/images/GameOver/funny-meme-about-forbidden-tuna-landmine-funny-landmine.png" alt="Oops, there should be a funny image here..." />
					</p>
					<div class="form-group col md-6">
						<button type="submit" class="btn btn-primary" style="width:300px">Try again and reclaim dignity</button>
					</div>
                </div>
            <br>
        </div>
    </form>
</div>